/SztringMethodGyak/nbproject/private/
/SztringMethodGyak/build/
/sajatMethod/nbproject/private/
/sajatMethod/build/
/teszt/nbproject/private/
/rendszam/nbproject/private/
/foprogram/nbproject/private/
/foprogram/build/
/ArrayListPelda/nbproject/private/
/ArrayListPelda/build/
/karakterMetodusok/nbproject/private/
/karakterMetodusok/build/
/gyak1118/nbproject/private/
/gyak1118/build/
/gyak1122/nbproject/private/
/gyak1122/build/
/teszt23/nbproject/private/
/gyak1129/nbproject/private/
/gyak1129/build/
